* {
    padding: 30px;
    background-color: plum;
    text-align: center;
}

h1 {
    font-size: x-large;
    border: 5px solid orange;
}

p {
    font-size: 18px;
    border: 2px solid powderblue;
    padding: auto;
    margin: 10px;
    border-radius: 10px;
}
